
{% comment %} partie pour un individu {% endcomment %}

{% comment %}

<form action="/simulationsall/resultats/" method="post">{% csrf_token %}
    {% for field in individuform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    
	{% for field in individuform %}
		{% if field.label in 'foyer*' %}
       		<div class="fieldWrapper">
       			{{ field.errors }}
           		{{ field.label_tag }}: {{ field }}
        	</div>
        {% endif %}
	{% endfor %}
	
    <p><input type="submit" value="Lancer la simulation" /></p>
</form>

{% end comment %}



{% comment %} partie pour plusieurs individus {% endcomment %}

<form action="/simulationsall/resultats/" method="post">{% csrf_token %}
    <table>
        {{ formset }}
    </table>
	<p><input type="submit" value="Lancer la simulation" /></p>
	
</form>
    