{% extends "simulation/home.html" %}
{% block title %}Déclaration 1{% endblock %}

{% block content %}
<form class="principal" name="form0" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
 <br /> 
 <table border="0" width="100%" class="tableau">
    <tr>
      <td><table cellspacing="0" cellpadding="0" border="0" width="100%">
          <tr>
            <td nowrap="" width="14">&nbsp;</td>
            <td colspan="4"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                  <td nowrap="" width="1%"><span class="titre"><span class="titre00">VOTRE ETAT CIVIL</span></span></td>
                  <td><table border="0" width="100%">
                      <tr>
                        <td height="4" background="/static/image/ligne01.gif"></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td width="158" colspan="3">&nbsp;</td>
          </tr>
          <tr>
            <td nowrap="nowrap">&nbsp;</td>
            <td colspan="4" class="titre01"><span>Situation du foyer fiscal</span></td>
          </tr>
          <tr>
            <td></td>
            <td>{{form.statmarit}}</td>
            <td width="158" colspan="3">&nbsp;</td>
          </tr>
          <tr>
            <td nowrap="nowrap">&nbsp;</td>
            <td colspan="4" class="titre01"><span class="titre">Dates de naissance du foyer fiscal</span></td>
          </tr>
		  {% for field in form %}
		  {% if field.field.required  %}
		  {% if field.name != "statmarit" %}
          <tr>
            <td>&nbsp;</td>
            <td> {{ field.label }}</td>
            <td colspan="3"><span class="fdcellule"> {{ field }} </span>{{form.vous.errors}}</td>
          </tr>
          <tr>
            <td height="2" width="14"></td>
            <td height="4" background="/static/image/ligne01.gif" class="fdcellule" colspan="4"></td>
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
          <tr>
            <td width="14">&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">&nbsp;</td>
          </tr>
        </table></td>
    </tr>
  </table>
  <input type="submit" value="Suivant" />
</form>
{% endblock %}