<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr" >
<head>

<!-- Start website specific code -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
jQuery.noConflict();
</script>
<!-- End website specific code -->

  <base href="http://www.highcharts.com/" />

</head>

<body>
<script type="text/javascript">
jQuery(function() {

var chart1 = new Highcharts.Chart({
      chart: {
         renderTo: 'chart1'
      },
      title: {
         text: 'Tokyo climate'
      },
      legend: {
        enabled: false
      },
      xAxis: [{
         categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      }],
      yAxis: [{ // Primary yAxis
         labels: {
            formatter: function() {
               return this.value +'°C';
            },
            style: {
               color: '#DDDF0D'
            },
            align: 'left',
            x: 0,
            y: -2
         },
          showFirstLabel: false,
         title: {
            text: 'Temperature',
            style: {
               color: '#89A54E'
            }
         }
      }, { // Secondary yAxis
         title: {
            text: 'Rainfall',
            style: {
               color: '#4572A7'
            }
         },
         labels: {
            align: 'right',
            x: 0,
            y: -2,
            formatter: function() {
               return this.value +' mm';
            },
            style: {
               color: '#4572A7'
            }
         },
        showFirstLabel: false,
         opposite: true
      }],
      tooltip: {
         formatter: function() {
            if (this.series.name == 'Sunshine') {
              return '<b>'+ this.point.name +':</b> '+ this.y;
            } else {
              return ''+
                 this.x +': '+ this.y +
                 (this.series.name == 'Rainfall' ? ' mm' : '°C');
            }
         }
      },
      series: [{
         name: 'Rainfall',
         color: '#4572A7',
         type: 'column',
         yAxis: 1,
         data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]      
      
      }, {
         name: 'Temperature',
         color: '#DDDF0D',
         type: 'spline',
         data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
      }, {
        name: 'Sunshine',
        type: 'pie',
        data: [{
          y: 2020,
          name: 'Sunshine hours',
          sliced: true
        }, {
          y: 6740,
          name: 'Non sunshine hours (including night)'
        }],
        dataLabels: {
          enabled: true,
          distance: 20, 
          formatter: function() {
            if (this.point.name == 'Sunshine hours') {
              return this.point.name;
            } else {
              return null;
            }
          }
        },
        center: [60, 45],
        size: 50
      }]
   });
  
// Create the stock example
            // Create the chart    
            var chart2 = new Highcharts.StockChart({
                chart: {
                    renderTo: 'chart2'
                },
                rangeSelector: {
                    selected: 1,
                    inputEnabled: false
                },
                
                navigator: {
                    height: 30
                },
                
                title: {
                    text: 'USD to EUR',
                    floating: true,
                    align: 'right',
                    x: -20,
                    top: 20
                },
                
                xAxis: {
                    maxZoom: 14 * 24 * 3600000 // fourteen days
                },
                
                series: [{
                    name: 'USD to EUR',
                    data: usdeur,
                    tooltip: {
                        yDecimals: 4
                    }
                }]
            });
  

});
</script>
<div id="chart1" style="width: 410px; margin-left: 17px; float: left; height: 200px; position: relative; z-index: 1"></div>

<div id="chart2" style="width: 425px; margin-left: 10px; float: left; height: 200px; position: relative; z-index: 1"></div>
		
<!--  Load Highcharts -->
<script type="text/javascript" src="http://code.highcharts.com/stock/highstock.js"></script>
<script type="text/javascript" src="/templates/general/frontpage-theme.js"></script>
<script type="text/javascript" src="/samples/data/usdeur.js"></script>

</body>
</html>
