<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//FR"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">


<head>
	<title>{% block title %}mSim{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/home.css" >
</head>


<body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/js/highcharts.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/themes/gray.js"></script>

<script>
function PopupCenter(pageURL, title,w,h) {
var left = (screen.width/2)-(w/2);
var top = (screen.height/2)-(h/2);
var targetWin = window.open (pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
}
</script>


<div id='container'>
	<div id="header"></div>
	<div id='columns'>
	    <div id="content">
	        {% block content %}
	       <form method="POST" action="/simulation/menage/">{% csrf_token %}
{{ formset.non_field_errors }}
{{ formset.management_form }}
<table id="formset" class="form">
{% for form in formset.forms %}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr class="{% cycle row1,row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
  <input type="button" value="logement" onclick="PopupCenter('http://127.0.0.1:8000/simulation/logement/', 'logement',800,200)">
  <input type=submit name="submit" value="Submit">
  <input type=submit name="add"    value="Add">
  <input type=submit name="remove" value="Remove">
  <input type=submit name="reset"  value="Reset">
</form>
			{% endblock %}
	    </div>
    </div>
</div>

</body>
</html>